<mat-toolbar class="flex-row toolbar">
  <div class="flex-row menu-icon-container">
    <button *ngIf="showMenuIcon" id="menu-button" mat-icon-button (click)="onMenuClicked()">
      <mat-icon>menu</mat-icon>
    </button>

    <a [routerLink]="productHomeIsExternalUrl ? null : productHomeUrl" [attr.href]="productHomeIsExternalUrl ? productHomeUrl : null" class="toolbar-hyperlink flex-row">
      <svg class="tyler-icon">
        <title>Tyler Technologies</title>
        <use xlink:href="assets/tyler-icon.svg#Layer_1"></use>
      </svg>

      <h1 class="toolbar-text" role="heading">{{title}}</h1>
    </a>

    <a [attr.href]="appHomeUrl || null"class="toolbar-hyperlink mat-caption">
      <span class="application">{{ applicationName }}</span>
    </a>
  </div>

  <div class="flex-row toolbar-action-buttons-container">
      <button *ngIf="themeIcon" id="change-ou-button" mat-icon-button aria-label="Change Organization">
          <mat-icon>location_city</mat-icon>
      </button>
      <button *ngIf="themeIcon" id="open-alerts-button" mat-icon-button aria-label="View Alerts">
          <mat-icon>notifications</mat-icon>
      </button>
    <button *ngIf="themeIcon" id="toggle-theme-button" mat-icon-button (click)="onThemeClicked()" aria-label="Toggle page light and dark themes">
      <mat-icon>{{themeIcon}}</mat-icon>
    </button>
    <button mat-fab id="profile-menu-button" class="mat-elevation-z0 initials-button" [matMenuTriggerFor]="profileMenu" aria-label="User profile menu button">
      <div class="initials-text title" loader [showLoader]="!initials">{{initials || '&nbsp;&nbsp;'}}</div>
    </button>
    <mat-menu #profileMenu="matMenu" class="profile-menu-container">
      <ng-template matMenuContent>
        <div class="name-email-container flex-row">
          <button mat-mini-fab class="mat-elevation-z0">
            <div class="initials-text">{{initials}}</div>
          </button>
          <div class="text-container">
            <div class="name-text">{{ user.given_name }} {{ user.family_name }}</div>
            <div class="subtitle-2">{{ user.email }}</div>
          </div>
        </div>

        <div class="button-container flex-row">
          <button mat-button id="load-profile-button" color="primary" (click)="onProfileClicked()" aria-label="Load the user profile page">Profile</button>
          <button mat-button id="sign-out-button" color="primary" (click)="onLogoutClicked()">Sign Out</button>
        </div>
      </ng-template>
    </mat-menu>
  </div>
</mat-toolbar>