<div mat-dialog-header class="header">
    <div>Add Service</div>
    <button mat-icon-button (click)="dialogRef.close()"><mat-icon>close</mat-icon></button>
</div>
<mat-dialog-content class="flex-column-grow">
    <form *ngIf="form" [formGroup]="form" class="flex-column form">
        <div class="flex-row name-and-finder-container">
            <mat-form-field appearance="outline" class="name-field">
                <mat-label>name</mat-label>
                <input
                        matInput
                        id="name"
                        formControlName="name"
                        type="text"
                        class="form-control">
            </mat-form-field>
            <mat-form-field appearance="outline" class="name-field">
                <mat-label>maxKeyAgeDays</mat-label>
                <input
                        matInput
                        id="maxKeyAgeDays"
                        formControlName="maxKeyAgeDays"
                        type="number"
                        class="form-control">
            </mat-form-field>
            <mat-form-field appearance="outline" class="name-field">
                <mat-label>Email</mat-label>
                <input
                        matInput
                        id="email"
                        formControlName="email"
                        type="text"
                        class="form-control">
            </mat-form-field>
<!--            <ng-container formArrayName="emails">-->
<!--                <ng-container *ngFor="let lessonForm of emails.controls; let i = index">-->
<!--                    <div class="lesson-form-row" [formGroupName]="i">-->
<!--                        <mat-form-field appearance="outline" class="name-field">-->
<!--                            <mat-label>Email</mat-label>-->
<!--                            <input matInput-->
<!--                                   formControlName="email"-->
<!--                                   placeholder="Email Address"-->
<!--                                   type="text"-->
<!--                                   class="form-control">-->
<!--                        </mat-form-field>-->
<!--                        <mat-icon class="delete-btn" (click)="deleteEmail(i)">-->
<!--                            delete_forever</mat-icon>-->
<!--                    </div>-->
<!--                </ng-container>-->
<!--            </ng-container>-->

<!--            <button mat-mini-fab (click)="addEmail()">-->
<!--                <mat-icon class="add-course-btn">add</mat-icon>-->
<!--            </button>-->
        </div>
    </form>
</mat-dialog-content>

<div class="service-buttons">
    <button mat-stroked-button color="primary" (click)="dialogRef.close(false)" >Cancel</button>
    <button mat-raised-button color="primary"  [disabled]="form.invalid" (click)="onUpload()">Upload</button>
</div>