<div>
    <h2>{{ selectedService?.name }} Detail</h2>
</div>

<ng-container *ngIf="(selectedService.details | async) as details; else loading">
    <ul>
        <li>Service ID: {{$any(details)?.serviceId}}</li>
        <li>Max Key Age (in days): {{$any(details)?.maxKeyAgeDays}}</li>
        <li>Status: {{$any(details)['status']}}</li>
    </ul>
</ng-container>
<h2>Keys</h2>
<ng-container *ngFor="let key of (keys | async)?.keys">
    <ul>
        <li>Name: {{$any(key)['name']}}</li>
        <li>Key ID: {{$any(key)?.keyId}}</li>
        <li>Expiration Date: {{($any(key)?.expirationDate * 1000) | date: 'medium'  }}</li>
        <li>Status: {{$any(key)['status']}}</li>
    </ul>
</ng-container>
<button mat-fab color="primary" class="fab" (click)="onAddKey()">
    <mat-icon>library_add</mat-icon>
</button>

<ng-template #loading>
    <mat-progress-bar mode="buffer" class="loading flex-column"></mat-progress-bar>
</ng-template>
