.text-inside-grid {
  position: absolute;
  left: 5px;
}
.key-value-pair {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.key {
  color: darkgray;
  font-size: 1em; /* You can adjust the size as needed */
  margin-right: 10px;
}

.value {
  font-size: .8em; /* You can adjust the size as needed */
}

.keys-card{
  padding: 1em;
  margin: 5pt;
  width: 512px;
}
